@{
    ViewData["Title"] = "Learners Page";
}

<h2>Learners</h2>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var learner in Model)
    {
        <tr>
            <td>@learner.first_name</td>
            <td>@learner.email</td>
            <td>
                <button onclick="window.location.href='@Url.Action("PersonalizationProfile", "Instructor", new { learnerId = learner.LearnerID })'" class="btn btn-info">View Profile</button>
            </td>
        </tr>
    }
    </tbody>
</table>