@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>

<div class="admin-dashboard">
    <button onclick="window.location.href='@Url.Action("LearnersPage", "Admin")'" class="btn btn-primary">View Learners</button>
    <button onclick="window.location.href='@Url.Action("InstructorsPage", "Admin")'" class="btn btn-primary">View Instructors</button>
</div>
