@model Tuple<List<TestApp.Models.LearnerDiscussion>, int>

<h1>Posts</h1>

@if (Model != null && Model.Item1.Any())
{
    <table class="table">
        <thead>
        <tr>
            <th>Forum ID</th>
            <th>Learner ID</th>
            <th>Post</th>
            <th>Discussion Time</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var post in Model.Item1)
        {
            <tr>
                <td>@post.ForumID</td>
                <td>@post.LearnerID</td>
                <td>@post.Post</td>
                <td>@post.discussion_time</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>No Posts found.</p>
}